body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: ;
}
/* PS: if the background is set to cover the cards will attempt to fit in one picture which results in a super zoomed in background picture. */
